<nav class="navbar navbar-expand-lg navbar-light sticky-top glass-panel p-3 mx-4 mt-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" [routerLink]="['home']">MODERN MARKET</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-3" [routerLink]="['home']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" [routerLink]="['products']"
                        routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" [routerLink]="['list']"
                        routerLinkActive="active">
                        <i class="bi bi-cart3"></i> Cart
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>